@font-face{
    font-family: 'Berkshire Swash';
}

body{
    font-family: 'Moon';
    font-size: 1em;
}

.por100{
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between
}

.min{
    /*font-family: 'Amiri Quran'; Noto Sans, Myriad Pro, Bad Script*/
    font-family: "Bad Script";

    /*font-weight: 500;*/
    /*letter-spacing: 0.1em;*/
    /*word-spacing: 0.2em;*/
    line-height: 150%;
    font-size: 1.3em;
}

.minButton, .minDefault{
    font-family: "Noto Sans";
}

.sangria>span{
    display: inline-block;
    margin-left: 2em;
}

.inputDefault{
    border-radius: 2em;
    border: 2px solid #32222b;
}

header{
    width: 100%;
    background-color: #32222b;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, .3); /*x y blur color*/
    position: fixed;
    z-index: 100;
}

nav{
    width: auto;
    height: 5em;
    position: relative;
    display: flex;
    margin-left: 5em;
    margin-right: 5em;
}

nav, footer, #presentation, #productos{
    color: white;
}

nav>ul{
    display: flex;
    list-style: none;
    padding: 0px;
    height: 100%;
    margin: 0;
}

nav>ul>li{
    font-weight: bold;
}

button{
    cursor: pointer;
}

.buttonDefault{
    padding: .5em 2em .5em 2em;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid #32222b;
    color: white;
}

.buttonDefault:hover{
    border: 2px solid white;
}

.buttonBGW{
    padding: .5em 2em .5em 2em;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid #32222b;
    color: #32222b;
}

.buttonBGW:hover{
    background-color: #32222b;
    color: white;
}

#iso, #logo{
    font-family: 'Berkshire Swash';
    color: white;
}

#iso{
    height: 100%;
    width: auto ;
    position: absolute;
    left: 0;
}

#iso>span{
    width: 100%;
    height: 100%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info, #redes{
    position: absolute;
    display: flex;
    align-items: center;
}

#info>li{
    padding-left: 3em;
    padding-right: 3em;
    font-size: .8em;
    height: 100%;
    display: flex;
    align-items: center;
}

#info>li:hover{
    cursor: pointer;
    /*border-left: .5px black solid;
    border-right: .5px black solid;*/
    /*background-color: #23181e;*/
    color: #23181e;
    background-color: white;
}

#redes>li{
    /*margin-right: 2em;*/
    /*transition: transform .4s;*/ /*zoom - nombre de la transicion duracion*/
    height: 100%;
    display: flex;
    align-items: center;
    /*padding-left: 1em;
    padding-right: 1em;*/
    width: 3.5em;
    justify-content: center;
}

#redes>li:hover{
    cursor: pointer;
    /*transform: scale(1.5);*/ /*donde se aplica la transicion*/
    background-color: #23181e;
    /*border-left: 1px solid white;
    border-right: 1px solid white;*/
    color: #23181e;
    background-color: white;
}
/*
#redes>li::before, #redes>li::after{
    display: block;
    content: '';
    background-color: white;
    width: 1px;
    height: 100%;
}

#redes>li::before:hover{
    margin-right: 1em;
}

#redes>li::after:hover{
    margin-left: 1em;
}*/
/*
#redes .fa-youtube-square:hover{
    color:#c4302b;
}
#redes .fa-facebook-square:hover{
    color:#3b5998;
}
#redes .fa-instagram-square:hover{
    color:#833AB4;
}
#redes .fa-whatsapp-square:hover{
    color:#25D366;
}*/

#info>li:last-child, #redes>li:last-child{
    margin-right: 0;
}

#info{
    left: 7em;
    width: auto;
}

#redes{
    right: 0;
}

#redes .fab{
    font-size: 1.5em;
}

/*------------------- Sect: Presentation -------------------*/
#presentation, #nosotros, #productos, #contactanos{
    padding: 5em 5em 3em 5em;
    overflow: hidden;
}

#presentation{
    height: 100vh;
    width: 100%;
    background-color: #32222b;
    /*background-color: white;*/
    position: relative;
    overflow: hidden;
}

#left{
    position: absolute;
    height: 100%;
    left: 5em;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#left>span{
}

#logo{
    font-size: 7em;

    /*color: #32222b;*/
}

#slogan{
    margin-top: 2em;
    font-size: 1.2em;

    /*color: #32222b;*/
}

#right{
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #43313a;
    clip-path: polygon(70% 0, 100% 0, 100% 100%, 40% 100%);
    box-shadow: -20px 5px 30px rgba(255, 255, 255, 1);
}

#right>img{
    position: absolute;
    width: 350px;
    right: 0;
    top: -1em;
    /*box-shadow: 0px 10px 20px rgba(0, 0, 0, .3);*/
    transform: rotate(15deg);
}

/*------------------- Button: Skip -------------------*/

#skip{
    position: absolute;
    bottom: 3em;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#skip>span{
    width: 4em;
    height: 4em;
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#skip .fas{
    font-size: 1.5em;
    color: white;
}

#skip>span:hover{
    cursor: pointer;
    background-color: white;
}

#skip>span:hover .fas{
    color: #32222b;
}

.skip-positivo, .skip-negativo{
    width: 100%;
    height: auto;
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
}

.skip-positivo>span, .skip-negativo>span{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.skip-positivo>span{
    border: 2px solid #32222b;
}

.skip-negativo>span{
    border: 2px solid white;
}

.skip-positivo .fas, .skip-negativo .fas{
    font-size: 1.5em;
}

.skip-positivo .fas{
    color: #32222b
}

.skip-negativo .fas{
    color: white;
}

.skip-positivo>span:hover{
    background-color: #32222b;
}

.skip-negativo>span:hover{
    background-color: white;
}

.skip-positivo>span:hover .fas{
    color: white;
}

.skip-negativo>span:hover .fas{
    color: #32222b;
}

/*------------------- Sect: Nosotros -------------------*/

#nosotros{
    width: 100%;
}

#nosotros img{
    height: 15em;
    /*border: 1px solid black;*/
}

#nosotros .description{
    /*border: 1px solid black;*/
    width: 35%;
}

#nosotros .img{
    width: 60%;
    /*border: 1px solid black;*/
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nosotros p{
    text-align: justify;
}

.sub-title{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
}

/*------------------- Sect: Productos -------------------*/
#productos{
    width: 100%;
    background-color: #32222b;
    position: relative;
    overflow: hidden;

}

.selectProductos{
    display: flex;
    width: 85%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

/*revisar no usar valores fijos en div*/
.selectProductos>div{
    width: 10em;
    height: 15em;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 1em;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in-out;
}

.selectProductos>div:hover{
    transform: scale(1.4);
    z-index: 99;
}



.selectProductos a{
    position: absolute;
    bottom: 1em;
    width: auto;
}

.selectProductos a>button{
    padding: .5em 2em .5em 2em;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 2px solid #32222b;
}

.selectProductos a>button:hover{
    background-color: #32222b;
    color: white;
}

.selectProductos>div>span{
    position: absolute;
    top: 1em;
    color: #32222b;
    font-weight: bold;
}

.selectProductos img{
    height: 15em;
}

#productos>.selectProductos-tienda{
    margin-top: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
}
/*------------------- Sect: Contactanos -------------------*/

#contactanos>.contacto{
    width: 60%;
}

.contacto>form>div{
    width: 100%;
    display: flex;
    margin-bottom: 2em;
}

.contacto>form>div>label{
    width: 15%;
    display: flex;
    align-items: center;
}

.contacto>form>div>input, .contacto>form>div>textarea{
    width: 80%;
    display: block;
    padding: .5em 1em;
}

.contacto>form>div>textarea{
    padding: 1em 1em;
}

/*------------------- Sect: Footer -------------------*/

footer{
    padding: 2em;
    width: 100%;
    background-color: #32222b;
    position: relative;
    display: flex;
    justify-content: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
