@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --border-radius: .3em;
    --padding-h: 1em;
    --padding-w: 1em;

    --primary-color: #FF4D93;
    --primary-color-light: #fd5f9f;
    --primary-color-black: #ee3680;

    --secondary-color: #223148;
    --secondary-color-light: #364c6b;
    --secondary-color-black: #1c2a3f;

    --terceary-color: #a2ace0;
    --terceary-color-light: #c6d0ff;
    --terceary-color-black: #8794d3;
}

body, input, textarea, span, button{
    font-family: 'Barlow', sans-serif;
    color: #223148;
}

main{
    width: 100%;
    background-image:   radial-gradient(#f4269e40 0.85px, transparent 0.85px),
                        radial-gradient(#f4269e40 0.85px, #f1f1fc 0.85px);
    background-size: 34px 34px;
    background-position: 0 0,17px 17px;
    position: relative;
}

ul{ list-style: none; }
i{ pointer-events: none; }
a{
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
}

/* 
===============================
            NAVBAR
===============================
*/
.section__nav{
    height: 4rem;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--padding-w) * 2);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.section__nav .nav__buttons{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: calc(var(--padding-h) * 2);
    background-color: white;
    text-align: center;
    transition: .3s;
}

.section__nav .nav__buttons .btn__close{
    cursor: pointer;
    padding: var(--padding-h);
}

.section__nav .nav__buttons ul{
    width: max-content;
    margin: 0 auto;
}

.section__nav .nav__buttons ul li{
    padding: var(--padding-h);
    font-size: 1.3rem;
    text-align: center;
}

.section__nav .nav__buttons ul li a:hover,
.section__nav .nav__buttons .btn__close:hover{
    color: var(--primary-color-black);
    cursor: pointer;
}

.section__nav .nav__buttons.hide{
    width: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.section__nav .nav__buttons .nav__buttons__extra{
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding: 2em;
    width: 100%;
}

.section__nav .nav__buttons .nav__swithces .nav__theme{
    display: flex;
    justify-content: center;
}

.section__nav .nav__buttons__extra .nav__swithces .nav__theme span{
    /* background-color: orange; */
    background-color: var(--secondary-color-light);
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: min-content;
    width: 5rem;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: color .2s ease-out, background-color .2s ease-out;
    color: white;
}

.section__nav .nav__buttons__extra .nav__swithces .nav__theme span::after{
    position: absolute;
    content: "";
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    box-shadow: 0 0 20px rgba(66, 66, 66, 0.2);
    border: 2px solid rgba(66, 66, 66, 0.1);
    border-radius: 100px;
    left: -.3em;
    transition: left .3s ease-out;
}

.section__nav .nav__buttons__extra .nav__swithces .nav__theme span.dark{
    background-color: orange;
}

.section__nav .nav__buttons__extra .nav__swithces .nav__theme span.dark i{
    color: var(--secondary-color-black);
}

.section__nav .nav__buttons__extra .nav__swithces .nav__theme span.dark::after{
    left: 50%;
}

.section__nav .nav__buttons__extra .nav__redes{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.tooltip{
    display: none;
}

.section__nav .nav__buttons__extra .nav__redes .red__item{
    padding: 1em;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: relative;
}

.section__nav .nav__buttons__extra .nav__redes .red__item:hover{
    background-color: var(--secondary-color);
    color: white;
}

.section__nav .nav__buttons__extra .nav__redes .red__item:hover .tooltip{
    display: block !important;
    position: absolute;
    width: max-content;
    height: max-content;
    background-color: rgb(227, 236, 255);
    padding: .5em .8em;
    border-radius: var(--border-radius);
    font-size: .8rem;
    top: -3em;
    color: rgba(0, 0, 0, 0.6);
}

/* 
==================================
            SECTION MAIN
==================================
*/

.section__main{
    width: 100%;
    font-size: 1.3rem;
    padding: 1em 1em 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section__main .sub__info{
    max-width: min(700px, 100%);
    text-align: center;
}

.section__main .sub__picture{
    max-width: min(700px, 100%);
    text-align: center;
}

@media (min-width: 1000px){
    .section__main{
        padding: 5% 10% 0 10%;
    }

    .section__main .sub__info{
        text-align: left;
        font-size: 1.7rem;
    }

    .section__main .sub__info .main__name{
        font-size: 4rem !important;
    }

    .btn__a{
        margin-top: 2rem !important;
        display:inline-block !important;
    }
}

.section__main .sub__info .main__name{
    font-size: 2.5rem;
    font-weight: 600;
}

.section__main .sub__info .main__ocupation .highlight{
    font-weight: 600;
    position: relative;
}

.section__main .sub__info .main__ocupation .highlight::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    bottom: -.2em;
    left: 0;
}

.section__main .sub__info a{
    width: max-content;
    background-color: var(--primary-color);
    color: white;
    margin: 1.5rem auto;
}

.section__main .sub__info a:hover{
    background-color: var(--primary-color-black);
}

.section__main .sub__info a span{
    position: relative;
    pointer-events: none;
    color: #ad1351;
    margin: 0 10px;
}

.section__main .sub__info a span i{
    position: absolute;
    top: .2em;
    left: 0;
}

.section__main .sub__info a.hover span i{
    animation: move .5s ease-in-out;
    color: #ffffff;
}

@keyframes move {
    0% { top: .2em;}
    50%{ top: 3em }
    60%{ opacity: 0; top: -2em;}
    100%{ opacity: 1; top: .2em;}
}

/* 
==================================
            SECTION PROJECTS
==================================
*/
.section__projects .sub__carrousel{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__projects .sub__carrousel .sub__items{
    width: 100%;
    height: 300px;
    display: flex;
    overflow-x:hidden;
    overflow-y: hidden;
    background-color: var(--terceary-color-black);
    border: 1px solid var(--terceary-color-black);
}

.section__projects .sub__carrousel .sub__items .sub__item{
    width: 100%;
    flex-shrink: 0;
    padding: 1rem 0;
    transition: .5s;
    position: relative;
}

.section__projects .sub__carrousel .sub__items .sub__item .item__description{
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    box-shadow: 0 0 20px rgba(39, 62, 104, 0.4);
    transition: .5s ease-in-out;
    overflow: hidden;
    padding: 0 1.5em;
    /* color: white; */
}

.section__projects .sub__carrousel .sub__items .sub__item .item__description > div{
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.section__projects .sub__carrousel .sub__items .sub__item .item__description > div > div{
    width: 100%;
    height: max-content;
}

.section__projects .sub__carrousel .sub__item .item__description .desc__title{
    font-weight: 700;
}

.section__projects .sub__carrousel .sub__item .item__description .desc__technologys{
    display: flex;
    gap: .4em;
}

.section__projects .sub__carrousel .sub__item .item__description .desc__technologys span{
    color: white;
    font-size: .7rem;
    background-color: var(--secondary-color);
    padding: .3em .6em;
    width: max-content;
    height: max-content;
}

.section__projects .sub__carrousel .sub__items .sub__item:hover .item__description{
    height: 45%;
    padding: 1.5em 1.5em;
    overflow:visible ;
}

.section__projects .sub__carrousel .sub__items .sub__item figure{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
}
.section__projects .sub__carrousel .sub__items .sub__item img{ object-fit:contain; }

.section__projects .sub__carrousel .btn__left,
.section__projects .sub__carrousel .btn__right{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--primary-color-black); 
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__projects .sub__carrousel .btn__left{ left: -1.5em; }
.section__projects .sub__carrousel .btn__right{ right: -1.5em; }

.section__projects .sub__carrousel .btn__left:hover,
.section__projects .sub__carrousel .btn__right:hover{
    background-color: var(--primary-color-black);
}

/* 
==================================
            SECTION ABOUT ME
==================================
*/

/* 
==================================
            SECTION SKILLS
==================================
*/
.section__skills .sub__skills .sub__items{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.section__skills .sub__skills .sub__items .sub__item{
    background-color: var(--secondary-color);
    color: white;
    width: max-content;
    padding: .5rem 1rem;
}

/* 
=========================================
            SECTION CONTACT ME
=========================================
*/

.section__contactme .contactme__container{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.section__contactme .sub__title{
    flex-grow: 2;
    width: 100%;
}

.section__contactme .sub__form{
    width: 100%;
}

.section__contactme .sub__picture{
    margin: 0 auto;
}

@media (min-width: 600px){
    .section__contactme .sub__form{
        flex-grow: 1;
        order: 3;
        width: auto;
    }
    
    .section__contactme .sub__picture{
        order: 2;
        width: 35%;
        margin: 0;
    }

    .section__contactme .sub__picture figure{
        width: 100%;
    }
}

.section__contactme .sub__form{
    padding: 1em;
    background-color: #ced6fc;
}

.section__contactme .sub__form form{
    display: flex;
    flex-direction: column;
    gap: 1em;    
}

.section__contactme .sub__form .field{
    width: 100%;
    position: relative;
}

.section__contactme .sub__form .field input,
.section__contactme .sub__form .field textarea{
    width: 100%;
    border: 2px solid white;
    border-radius: var(--border-radius);
}

.section__contactme .sub__form .field input:focus,
.section__contactme .sub__form .field textarea:focus{
    border: 2px solid var(--primary-color);
}

.section__contactme .sub__form .field label{
    position: absolute;
    top: 1em;
    left: 1em;
    transition: .3s;
}

.section__contactme .sub__form .field input:focus + label,
.section__contactme .sub__form .field textarea:focus + label,
.section__contactme .sub__form .field input:not(:placeholder-shown) + label,
.section__contactme .sub__form .field textarea:not(:placeholder-shown) + label{
    top: -1em;
    background-color: white;
    padding: .1em .5em;
    font-size: .8rem;
    font-weight: 600;
    color: var(--primary-color-black);
}

.section__contactme .sub__form .field input[type='submit']{
    background-color: var(--primary-color);
    color: white;
    width: max-content;
    padding: 1em 2em;
    cursor: pointer;
    border: none;
    border-radius: 0;
}

.section__contactme .sub__form .field input[type='submit']:hover{
    background-color: var(--primary-color-black);
}

/* 
====================================================
            SECTION ADDITIONAL SETTINGS
====================================================
*/
img{
    width: 100%;
    height: 100%;
}

figure{
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.section__nav,
.section__projects,
.section__aboutme,
.section__skills,
.section__contactme{
    width: 100%;
    padding: 5% 10%;
    margin: 0 auto;
}

.section__nav{ padding: 2rem 3rem; }

.projects__container,
.aboutme__container,
.skills__container,
.contactme__container{
    max-width: min(600px, 100%);
    margin: 0 auto;
}

.sub__title{
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.section__projects,
.section__skills{
    background-color: rgba(162, 172, 224, 0.5);
}

button,
.section__nav .nav__logo,
.section__nav .btn__menu{
    cursor: pointer;
}

button,
input,
textarea{
    padding: var(--padding-h) var(--padding-w);
    border: none;
    outline: none;
}

textarea{
    height: 7rem;
    resize: none;
}

.btn__a{
    display: block;
    padding: var(--padding-h);
    text-decoration: none;
    font-size: 1rem;
}