:root {
    --primary-color: #ff4d93;
    --primary-color-light: #fd5f9f;
    --primary-color-black: #ee3680;

    --secondary-color: #283b57;
    --secondary-color-light: #425b7e;
    --secondary-color-black: #1a2941;

    --terceary-color: #a2ace0;
    --terceary-color-light: #f0f2ff;
    --terceary-color-black: #8794d3;
}

main.dark {
    background-color: #283b57;
}

main.dark #section__nav {
    background-color: #283b57;
    color: #ccd0e9;
    box-shadow: 2px 2px 20px #0b182c;
}

main.dark #section__nav .icon__logo {
    color: #ccd0e9;
}

main.dark #section__nav .nav__sections {
    background-color: #283b57;
    color: #ccd0e9;
}

main.dark #section__nav .nav__sections ul li a {
    color: #ccd0e9;
}

main.dark #section__nav .nav__sections ul li a:hover {
    color: #ff4d93;
}

main.dark #section__nav .nav__sections #switch__theme.active {
    background-color: #111f35;
}

main.dark #section__main {
    background-color: #111f35;
}

main.dark #section__main .main__info {
    color: #ccd0e9;
}

main.dark #section__main .redes button:hover,
main.dark #section__main .redes div:hover {
    background-color: #ee3680;
}

main.dark #section__aboutme,
main.dark #section__projects,
main.dark #section__skills,
main.dark #section__aboutme .title,
main.dark #section__projects .title,
main.dark #section__skills .title {
    color: #ccd0e9;
}

main.dark #section__skills .skills__container .skill__tab {
    background-color: #1a2941;
}

main.dark footer {
    background-color: #111f35;
}

main.dark #web__top {
    background-color: white;
    color: #1a2941;
    opacity: 0.8;
}

main.dark #web__top:hover {
    opacity: 1;
    box-shadow: 2px 2px 30px white;
}

main.dark code {
    background-color: #1a2941;
}
