@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

:root{
    --border-radius: .3em;
    --padding-h: 1em;
    --padding-w: 1em;

    --primary-color: #FF3880;
    --primary-color-light: #ff4f8f;
    --primary-color-black: rgb(223, 43, 115);

    --secondary-color: #2E4D7B;
    --secondary-color-light: #3b6199;
    --secondary-color-black: #203d69;

    --linear-color: linear-gradient(172.34deg, #E21276 5.93%, #174291 113.48%);
    --linear-color-hover: linear-gradient(177.73deg, rgba(255, 255, 255, 0) 76.37%, rgba(23, 66, 145, 0.28) 98.51%);

    --color--progresive-bar-back: #9CBFF4;
    /* --color--progresive-bar-back: #9CBFF4; */
}

html, body{ min-height: 100%; }
body{ position: relative; }
a{
    text-decoration: none;
    color: black;
}

main{
    position: relative;
}

ul{
    list-style: none;
}

code{
    display: inline-flex;
    background-color: rgba(233, 233, 233, 0.9);
    border-radius: .3em;
    padding: 1px .3em;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

#section__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.2em 2em;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

#section__nav .nav__bar{
    cursor: pointer;
}

@media (min-width: 768px) {
    #section__nav .nav__bar{
        display: none;
    }
}

#section__nav .nav__sections{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 2;
    padding: 2em;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s ease-in-out;
}

#section__nav .nav__sections .bar__close{
    padding: 2em 0;
    cursor: pointer;
}

#section__nav .nav__sections ul{
    /* width: max-content; */
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-transform: uppercase;
}

#section__nav .nav__sections ul li a:hover{
    color: var(--primary-color);
}

#section__nav .nav__sections.hidden{
    transform: translate(-100%);
}

@media (min-width: 1100px){
    #section__nav{
        padding: 2rem 4rem;
    }
    #section__nav .nav__sections ul{
        display: flex;
        flex-direction: row;
        /* width: 100%; */
        gap: 2rem;
    }
    #section__nav .nav__sections ul li{
        width: max-content;
    }
    #section__nav .nav__sections .bar__close{
        display: none;
    }
    #section__nav .nav__sections{
        position: inherit;
        width: max-content;
        height: max-content;
        overflow:visible;
    }
    #section__nav .nav__sections.hidden{
        width: max-content;
        transform: none;
        padding: 0;
    }
}

#section__main{
    background-color: #eeeeee;
    position: relative;
}

#section__main .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section__main .main__info{
    color: var(--secondary-color);
    padding: 2em;
}

@media (min-width: 790px){
    #section__main .main__info{
        width: 70%;
    }
}

@media (min-width: 1100px){
    #section__main{
        display: flex;
        justify-content: center;
    }
    #section__main .main__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 4rem;
    }
    #section__main .main__info p{
        width: max-content;
    }
    #section__main .main__info .info__name{
        max-width: min-content;
        text-align: right;
    }
    #section__main .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #section__main .main__figure{
        width: 100%;
    }
}

#section__main .main__info p{
    text-align: center;
}

#section__main .main__info .info__presentation{
    font-size: 1.2em;
}

#section__main .main__info .info__name{
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
}

#section__main .main__info .info__puesto{
    font-size: 1.2em;
}

#section__main .main__info .info__puesto span{
    color: white;
    background-color: var(--primary-color);
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#section__main .main__info .info__puesto span:after
#section__main .main__info .info__puesto span:before {
    position: absolute;
}

#section__main .main__info .info__puesto span:after{
    content: ">";
    margin-left: 2px;
}

#section__main .main__info .info__puesto span:before{
    content: "</";
    margin-right: 2px;
}

#section__main .main__figure{
    padding: 0em 2em 3em 2em;
    width: 50%;
    max-width: 500px;
    /* width: 15rem; */
    /* height: 15rem; */
    margin: 0 auto;
}

#section__main .main__figure img{
    width: 100%;
    object-fit: content;
}

@media (min-width: 900px) {
    #section__main .main__figure{
        width: 70%;
    }
}

@media (min-width: 1100px){
    #section__main .main__figure{
        width: 80%;
        padding: 4rem;
        margin: 0 auto 0 0;
    }
}

@media (min-width: 1300px){
    #section__main {
        height: 80vh;
    }
    #section__main .main__info{
        /* margin: auto 0; */
        font-size: 150%;
    }
}

@media (min-width: 1500px){
    #section__main .main__info{
        font-size: 170%;
    }
    #section__main .main__info .info__presentation,
    #section__main .main__info .info__puesto{
        font-size: 1.5rem;
    }
}

#section__main .redes{
    display: flex;
    gap: 1em;
    position: absolute;
    bottom: -1.3rem;
    transform: translateX(100%)
}

#section__main .redes a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section__main .redes > .item{
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: .3em;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
}

#section__main .redes > .item:hover{
    background-color: var(--secondary-color);
}

#section__main .redes > .item:hover i{
    color: white;
}

@media (min-width: 1100px) {
    #section__main .redes{
        transform: none;
    }
}

/*
============================================
            SECTION ABOUTME
============================================ 
*/
#section__aboutme .aboutme__figure{
    padding: 0em 1em;
    width: 70%;
    margin: 0 auto;
}

#section__aboutme .aboutme__figure img{
    width: 100%;
    object-fit: content;
}

#section__aboutme .aboutme__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section__aboutme .aboutme__info .info__text{
    padding: 2em 0em;
    line-height: 1.5em;
}

#section__aboutme .aboutme__info .info__curriculum a{
    background-color: var(--primary-color);
    color: white;
    padding: .5em 1em;
    border-radius: .3em;
    display: inline-flex;
    gap: .5em;
    align-items: center;
}

#section__aboutme .aboutme__info .info__curriculum a:hover{
    background-color: var(--primary-color-black);
}

/*  */
@media (min-width: 600px){
    #section__aboutme .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #section__aboutme .aboutme__info .info__text{
        padding-top: 0;
    }
}

/*
============================================
            SECTION PROJECTS
============================================ 
*/
#section__projects .projects__container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#section__projects .project__item{
    width: 100%;
    height: 130px;
    background: var(--linear-color);
    border-radius: .3em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    box-shadow: none;
    transition: transform .3s ease-out, box-shadow .3s ease-out;
}

#section__projects .project__item:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}

#section__projects .project__item figure{
    width: 90%;
    /* transform: translateX(30%); */
    transform: rotate(-10deg);
    position: absolute;
    top: 1em;
    right: -1em;
}

#section__projects .project__item figure img{
    width: 100%;
    border-radius: .5em;
}

#section__projects .project__item .item__info{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section__projects .project__item .item__info .info__title{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

#section__projects .project__item .item__info .info__tecnologies{
    display: flex;
    gap: .5em;
}

#section__projects .project__item .item__info .info__tecnologies span{
    background-color: var(--primary-color);
    color: white;
    padding: .2em .5em;
    border-radius: .2em;
    font-size: .8rem;
}

@media (min-width: 768px){
    #section__projects .projects__container{
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto, 100px);
        gap: 2em; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;
    }
    #section__projects .project__item{
        /* max-width: 300px; */
        width: 15rem;
        height: 30rem;
    }
}

/*
============================================
            SECTION SKILLS
============================================ 
*/
#section__skills .skill__frontend {
    height: max-content;
}

#section__skills .skills__container{
    display: flex;
    /* flex-direction: column; */
    gap: 1em;

    flex-wrap: wrap;
    justify-content: center;
}

#section__skills .skills__container > div{
    width: 100%;
    max-width: 400px
}

#section__skills .skills__container .skill__tab{
    background: #fcfcfc;
    padding: 1.5em;
    border-radius: .3em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(68, 68, 68, 0.3);
}

#section__skills .skills__container .skill__details{
    /* background-color: #F3F5F8; */
    width: 90%;
    height: 150px;
    max-height: min-content;
    margin: 0 auto;
    padding: 1em 1em;
    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
    transition: all .3s ease-out;
    overflow: hidden;
}

#section__skills .skills__container .skill__details.hidden{
    height: 0;
    padding: 0em 1em;
    overflow: hidden;
}

#section__skills .skills__container .skill__details .skill__item .skill__name,
#section__skills .skills__container .skill__details .skill__item .skill__percent{
    font-weight: 700;
    font-size: .8rem;
    max-width: max-content;
}

#section__skills .skills__container .skill__details table,
#section__skills .skills__container .skill__details table tr{
    width: 100%;
}

#section__skills .skills__container .skill__details table tbody tr td{
    padding-bottom: .5em;
}

#section__skills .skills__container .skill__details .skill__item .skill__line{
    width: 90%;
    text-align: center;
}

#section__skills .skills__container .skill__details .skill__item .skill__line > span{
    width: 90%;
    height: 14px;
    position: relative;
    border-radius: 1em;
    overflow: hidden;
    display: inline-flex;
}

#section__skills .skills__container .skill__details .skill__item .skill__line > span span:first-child{
    background-color: var(--color--progresive-bar-back);
    width: 100%;
    height: 14px;
    display: inline-flex;
    position: absolute;
    left: 0;
}

#section__skills .skills__container .skill__details .skill__item .skill__line > span span:last-child{
    background-color: var(--primary-color);
    width: 50%;
    height: 14px;
    display: inline-flex;
    position: absolute;
    left: 0;
    border-radius: 1em;
}

#section__skills #skill__js .skill__line > span span:last-child{
    width: 80%;
}

#section__skills #skill__css .skill__line > span span:last-child{
    width: 30%;
}

#section__skills #skill__html .skill__line > span span:last-child{
    width: 20%;
}

#section__skills #skill__react .skill__line > span span:last-child{
    width: 10%;
}

/*
============================================
            SECTION CONTACTME
============================================ 
*/
footer{
    background-color: var(--color--progresive-bar-back);
    position: relative;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 9rem;
}

.footer__contactme{
    background: var(--linear-color);
    padding: 1.3em;
    border-radius: .5em;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: .5em;
    position: absolute;
    top: -8rem;
}

.footer__contactme .contactme__title{
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    text-transform: uppercase;
}

.footer__contactme .contactme__inputs{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.footer__contactme .contactme__inputs input,
.footer__contactme .contactme__inputs textarea{
    padding: 1em;
    border: none;
    outline: none;
    border-radius: .3em;
}

@media (min-width: 768px) {
    .footer__contactme .contactme__inputs input,
    .footer__contactme .contactme__inputs textarea,
    .footer__contactme .contactme__submit button{
        font-size: 1rem
    }
}

textarea{
    resize: none;
    height: 7rem;
}

.footer__contactme .contactme__submit button{
    padding: 1em 1.5em;
    border: none;
    outline: none;
    border-radius: .3em;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    width: 100%;
}

.footer__contactme .contactme__submit button:hover{
    background-color: var(--primary-color-black);
}

/*
============================================
            SETTINGS COMMON
============================================ 
*/

#section__aboutme,
#section__projects,
#section__skills{
    padding: 2em;
    margin: 0 auto;
}

#section__aboutme{
    margin-top: 5rem;
    width: 100%;
    max-width: 700px;
}

#section__projects{
    margin-top: 2rem;
    width: 100%;
    max-width: 1000px;
}

#section__skills{
    margin-top: 2rem;
    width: 100%;
    max-width: 1000px;
}

#section__aboutme .title,
#section__projects .title,
#section__skills .title{
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1.5em;
}

@media (min-width: 768px) {
    #section__aboutme .title,
    #section__projects .title,
    #section__skills .title{
        text-align: center;
    }
}

#switch__theme{
    background-color: var(--secondary-color);
    border-radius: 1rem;
    color: white;
    padding: .3em .5em;
    display: inline-flex;
    gap: .7em;
    font-size: .9rem;
    position: relative;
    align-items: center;
    cursor: pointer;
}

#switch__theme::after{
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background-color: white;
    position: absolute;
    border-radius: 1rem;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.308);
    left: 50%;
    transition: left .3s ease-out;
}

#switch__theme.active::after{
    left: 0%;
}

#web__top{
    background-color: var(--secondary-color);
    width: 2.5em;
    height: 2.5em;
    border-radius: .3em;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90vh;
    right: 2em;
    opacity: .7;
    outline: none;
    border: none;
    cursor: pointer;
}

@media (min-width: 768px){
    #web__top{
        width: 3.5em;
        height: 3.5em;
    }
}

#web__top:hover{
    opacity: 1;
}