@font-face {
font-family: 'icomoon';
src:  url('../fonts/icomoon.eot?a51a5');
src:  url('../fonts/icomoon.eot?a51a5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a51a5') format('truetype'),
    url('../fonts/icomoon.woff?a51a5') format('woff'),
    url('../fonts/icomoon.svg?a51a5#icomoon') format('svg');
}

[class^="icon__"], [class*=" icon__"] {
  font-family: 'icomoon' !important;
}

.icon__barmenu:before {
    content: "\e901";
}
.icon__logo:before {
    content: "\e900";
}
